<!DOCTYPE html>
<html>
<head>
<title>Edit Player</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body{background:#07101a;color:white;font-family:Arial;padding:20px}
h2{color:#ff8a00}
input{width:100%;padding:12px;margin:10px 0;background:#1d2a3a;color:white;border:none}
button{width:100%;padding:12px;background:#ff8a00;color:white;border:none;font-weight:bold}
a{color:#ff8a00}
</style>
</head>
<body>

<h2>Edit Player: {{ p.name }}</h2>

<form method="POST">

    <p>Kills:</p>
    <input name="kills" value="{{ p.kills }}">

    <p>Rank:</p>
    <input name="rank" value="{{ p.rank }}">

    <p>Win Ratio:</p>
    <input name="win_ratio" value="{{ p.win_ratio }}">

    <br>
    <button type="submit">UPDATE</button>

</form>

<br>
<a href="/admin">Back to Admin</a>

</body>
</html>
