<!DOCTYPE html>
<html>
<head>
<title>Edit Player</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
body{
    background:#07101a;
    color:white;
    font-family:Arial;
    padding:20px;
}
h2{
    color:#ff8a00;
}
input,select{
    width:100%;
    padding:12px;
    margin:10px 0;
    background:#1d2a3a;
    color:white;
    border:none;
}
button{
    padding:12px;
    width:100%;
    background:#ff8a00;
    color:white;
    border:none;
    font-weight:bold;
}
</style>
</head>

<body>

<h2>Edit Player</h2>

<form method="POST">

<input name="name" value="{{ p.name }}" placeholder="Name">
<input name="uid" value="{{ p.uid }}" placeholder="UID">
<input name="phone" value="{{ p.phone }}" placeholder="Phone">
<input name="payment_ref" value="{{ p.payment_ref }}" placeholder="Payment Ref">

<select name="mode">
<option value="TDM" {% if p.mode=="TDM" %}selected{% endif %}>TDM</option>
<option value="Erangel" {% if p.mode=="Erangel" %}selected{% endif %}>Erangel</option>
<option value="Solo" {% if p.mode=="Solo" %}selected{% endif %}>Solo</option>
<option value="Squad" {% if p.mode=="Squad" %}selected{% endif %}>Squad</option>
</select>

<select name="paid">
<option value="Pending" {% if p.paid=="Pending" %}selected{% endif %}>Pending</option>
<option value="Paid" {% if p.paid=="Paid" %}selected{% endif %}>Paid</option>
</select>

<select name="played">
<option value="No" {% if p.played=="No" %}selected{% endif %}>No</option>
<option value="Yes" {% if p.played=="Yes" %}selected{% endif %}>Yes</option>
</select>
<input name="kills" value="{{ p.kills|default('0') }}" placeholder="Kills">

<select name="rank">
    <option value="">Select Rank</option>
    <option value="1" {% if p.rank=="1" %}selected{% endif %}>1</option>
    <option value="2" {% if p.rank=="2" %}selected{% endif %}>2</option>
    <option value="3" {% if p.rank=="3" %}selected{% endif %}>3</option>
</select>

<input name="win_ratio" value="{{ p.win_ratio|default('') }}" placeholder="Win Ratio">
<button>Save Changes</button>

</form>

</body>
</html>
